@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ECECEC;
  font-family: 'Open Sans', sans-serif, Arial;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem auto;
  background: transparent;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  box-shadow: 0px 0px 30px rgba(0,0,0,.1);
  overflow: hidden;
}

/* Responsive Flex Layout for Desktop */
@media (min-width: 768px) {
  #container {
    flex-direction: row;
    height: auto;
  }
}

#info {
  background: #fff;
  padding: 30px;
  flex: 1;
}

#info label {
  color: #8A8A8C;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
}

#info input,
#info select {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
}

/* Expiration and CVV side by side */
.card-details {
  display: flex;
  gap: 10px;
}

.card-details div {
  flex: 1;
}

#makePayment {
  width: 100%;
  background: #363636;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #FFF;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  transition: transform 0.2s ease;
  margin-top: 10px;
}

#makePayment:hover {
  transform: translateY(-3px);
}

#description {
  flex: 1;
  background: linear-gradient(to bottom, #76D2FF, #07E7D7);
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#description img {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

#description img:hover {
  transform: scale(1.1);
}

#editOrder {
  width: 80%;
  background: none;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  margin: 20px auto 0;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 5px;
}

#editOrder:hover {
  transform: scale(1.05);
}

#description h1,
#description h2,
#description h3 {
  margin: 0;
  color: #FFF;
}

#description h1 {
  font-size: 32px;
  font-weight: 600;
}

#description h2 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

#description h3 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  text-transform: uppercase;
}
